.App {
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 40px;
  font-size: 16px;
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  color: forestgreen;
}

input {
  padding-left: 5px;
  font-size: 20px;
  width: 50%;
  height: auto;
}

table {
  width: 90%;
  border-collapse: separate;
  border-spacing: 0 1em;
}

.TableHead {
  background-color: #282c34;
  color: white;
  text-align: center;
}



thead {
  background-color: rgb(44, 44, 44);
  color: white;
  text-align: center;
}

thead tr th{
  padding: 7px;
}

tbody>tr {
  text-align: center;
}

tbody tr td {
  border-bottom: 1px solid #ccc; /* Add line below each cell */
  padding: 7px;
}

.search-container {
  background: #fff;
  height: 30px;
  border-radius: 30px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}

.search-container .search-input{
  background: transparent;
  border: none;
  outline:none;
  width: 300px;
  font-weight: 500;
  font-size: 16px;
}

.rank {
  text-align: center;
  font-weight: bold;
}

.logo {
  display: flex;
  justify-content: flex-start;
  padding-left: 10%;
  gap: 10px;

}

.logo img {
  width: 40px;
  height: 40px;
  padding-right: 10px;
}

.symbol {
  text-align: center;
}

@media (max-width: 600px) {
  .hide-on-mobile {
    display: none; /* Hide the columns on smaller screens */
  }
}